@import './constants.css';
@import './reset.css';
@import './components/header.css';
@import './components/responsive.css';
@import './components/contato.css';
@import './components/portfolio.css';

html {
    
    scroll-behavior: smooth;
}

body {
    position: relative;
    padding: 1px 1%;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    min-width: 95vw;
    margin: 0 auto;
    background-color: #5c008a;
    background-image: url("/imgs/connected.png");
}
body>*{
    box-shadow: -1px 1px 5px 0px rgba(0, 0, 0, 0.25);
}
section,
footer {
    height: 90vh;
}

#inicio,
#formacao,
#portfolio,
#contato,
footer {
    scroll-margin-top:2rem;
    
}

footer {
    font-size: 1.2rem;
    color: #727272;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #dfdfdf;
    height: 9vh;
    border-radius: var(--borderRadius-default);
}